@import url('bootstrap.css');

/* Global Elements */
body {
	color: #666;
}
.help-block {
	color: #888;
}
.help-inline, .help-block {
	/*font-size: .9em;*/
}
h1, h2, h3, h4, h5, h6 {
	color: #000;
}
h1, h2, h3 {
	letter-spacing: -.03em;
}
p strong {
	color: #000;
}
strong {
	font-weight: 600;
}
[class^="icon-"], [class*=" icon-"] {
	vertical-align: -2px;
}
.content {
	margin-bottom: 90px;
}

.alert-block h4 {
	font-weight: 600;
	margin-bottom: 5px;
}

/* Form extensions */
.long {
	display: block;
	width: 100%;
	min-height: 28px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.medium {
	width: 270px;
}
.medium-short {
	width: 160px;
}
textarea.extra-large {
	display: block;
	width: 100%;
	max-width: 100%;
	height: 180px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
textarea.large {
	display: block;
	width: 100%;
	max-width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 60px;
}
.short {
	width: 100px;
}
.very-short {
	width: 48px;
}
.date-d {
	width: 6em;
}
.date-m {
	width: 11em;
}
.date-y {
	width: 8em;
}

.date-combo {
	width: 21em;
	float: left;
	width: 100%;
}
.date-combo .date-d {
	display: block;
	float: left;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.date-combo .date-m {
	display: block;
	float: left;
	border-radius: 0;
	border-left: none;
	border-right: none;
}
.date-combo .date-y {
	display: block;
	float: left;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.phone-number {
    display: inline-block;
    height: 26px;
	padding: 0 0 0 6px;
	margin-bottom: 5px;
    font-size: 13px;
    line-height: 18px;
    color: #555555;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
	background-color: #eee;
	border: 1px solid #cccccc;
}
.phone-number input {
	margin-top: -1px;
	border-radius: 0;
}
.phone-number input.very-short {
	text-align: center;
	width: 32px;
}
.phone-number input:last-child {
	margin-right: -1px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

/* Global Header */
.global-header {
	background: #007ac2;
	padding: 20px 0;
	height: 40px;
	line-height: 40px;
	color: #fff;
}
.global-header h1 {
	float: left;
	margin: -5px 0 0 0;
}
.global-header h1 a {
	display: block;
	width: 300px;
	height: 50px;
	text-indent: 10000px;
	white-space: nowrap;
	overflow: hidden;
	background: url('../img/bina-antarbudaya-white.png') no-repeat;
	background-size: contain;
}
.global-header .actions {
	float: right;
}
.global-header a {
	color: #fff;
}
.global-header ul {
	text-align: right;
}
.global-header li {
	display: inline-block;
	padding-left: 11px;
	border-left: 1px solid rgba(255, 255, 255, 0.3);
	margin-left: 11px;
}
.global-header li i {
	vertical-align: -2px;
	margin-right: 3px;
}
.global-header li.username {
	border-left: 0;
	font-weight: 600;
}

/* Page Header */
.page-header {
	margin-top: 40px;
	padding-bottom: 40px;
}
.page-header.combo {
	padding-bottom: 0;
	border-bottom: none;
}
.page-header h1 {
	margin: 0;
	color: #007ac2;
	font-weight: 600;
	letter-spacing: -.05em;
	font-size: 30px;
	line-height: 30px;
}
.page-header h1 span {
	font-weight: 300;
}
.page-header h2 {
	padding: 20px 20px 20px 0;
	margin: -20px 20px 0 0;
	float: left;
	font-weight: 300;
	color: #666;
	border-right: 1px solid #eee;
	letter-spacing: -.05em;
	font-size: 30px;
	line-height: 30px;
}

/* Welcome page */
.welcome-header {
	margin-top: 80px;
	padding-bottom: 40px;
}
.welcome-header h1 {
	font-size: 60px;
	line-height: 60px;
	text-align: center;	
}
.welcome-header h2 {
	font-size: 16px;
	float: none;
	text-align: center;
	margin: 14px 0 0;
	padding: 0;
	letter-spacing: 3px;
	text-transform: uppercase;
	border-right: none;
}
.welcome h3 {
	font-weight: 300;
	margin-bottom: 15px;
}
.welcome .about-us p {
	line-height: 1.5;
	font-size: 16px;
}
.welcome .registration-dates {
	font-size: 20px;
	font-weight: 100;
	letter-spacing: -1px;
	line-height: 24px;
	margin-bottom: 14px;
	margin-left: 40px;
}
.welcome .registration-dates span.pre {
	display: block;
	font-size: 13px;
	letter-spacing: 0;
	font-weight: normal;
}
.welcome .registration-dates span.from,
.welcome .registration-dates span.to {
	color: #000;
	font-weight: 600;
}
.welcome p.or {
	border-top: 1px solid #f6f6f6;
	text-align: center;
	font-size: 11px;
	font-style: italic;
	color: #999;
	margin: 20px 0;
}
.welcome p.or span {
	display: block;
	margin: -11px auto;
	width: 40px;
	background: white;
}
.welcome .big-redeem-button {
	margin-top: -9px;
}
.welcome .registration-steps {
	margin-left: 40px;
}
.welcome .registration-steps li {
	margin-bottom: 14px;
	list-style: none;
	counter-increment: reg;
}
.welcome .registration-steps li:before {
	content: counter(reg);
	display: block;
	float: left;
	margin-left: -40px;
	margin-top: -3px;
	color: #007ac2;
	line-height: 24px;
	text-align: center;
	border-right: 1px solid #eee;
	padding: 0 10px;
}
.welcome .registration-steps li:first-child:before {
	margin-top: 5px;
}
.welcome .registration-steps li span {
	color: #000;
	font-weight: 600;
}

.welcome .chapters-list {
	border-top: 1px solid #eee;
	margin-top: 25px;
	padding-top: 25px;
}
.welcome .chapters-list h4 {
	font-size: 16px;
	line-height: 1.3;
	margin: 30px 0 5px;
}
.welcome .chapters-list p {
	/*font-size: 12px;*/
	word-wrap: break-word;
}

.login-form p {
	margin-bottom: 10px;
	clear: both;
}
.login-form input {
	margin-bottom: 0;
}
.login-form button {
	float: right;
	margin-bottom: 10px;
}
.login-form p.aux {
	font-size: 12px;
	border-top: 1px solid #eee;
	padding-top: 10px;
}
.login-form p.aux a.register-link {
	display: inline-block;
	float: right;
}

/* MODULE: CHAPTER */
table.counts {
	border-bottom: 1px solid #ddd;
	border-right: 1px dotted #ddd;
}
table.counts td {
	vertical-align: middle;
	border-left: 1px dotted #ddd;
}
table.counts strong {
	font-size: 28px;
	line-height: 32px;
	/*color: #000;*/
	display: block;
}
table.counts strong:not([class]) {
	color: #000;
}
table.counts.four-col td {
	width: 25%;
}

.chapter-dashboard .quick-links {
	margin-top: -18px;
	border-bottom: 1px solid #eee;
	margin-bottom: 18px;
}
.chapter-dashboard .quick-links ul {
	margin-bottom: 10px;
}
.chapter-dashboard .current-phase {
	font-weight: normal;
	font-size: 24px;
	line-height: 24px;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.chapter-dashboard .current-phase span {
	font-weight: 500;
}
.chapter-dashboard .current-phase small {
	font-size: 100%;
	line-height: 1;
	font-weight: 300;
	color: #666;
}

.chapter-dashboard .applicant-search form {
	margin-bottom: 4px;
}
.chapter-dashboard .applicant-search form p {
	margin: 0;
}
.chapter-dashboard .applicant-search form input {
	margin-bottom: 4px;
}
.chapter-dashboard .applicant-search h5 {
	color: #007AC2;
	margin-bottom: 3px;
}
.chapter-dashboard > .row {
	padding-bottom: 18px;
}

.search-title {
	float: left;
	font-weight: 300;
	margin-top: 0;
}

/* Stats */

.stats {
	clear: both;
}
.statbox {
	margin-top: 40px;
	border-top: 1px solid #eee;
	padding-top: 25px;
}
.statbox h3 {
	margin: 0;
}
.leaderboard {
	max-height: 400px;
	overflow: auto;
}
.chart, .chart div {
	height: 400px;
}

/* MODULE: APPLICANT */

.expiry-notice {
	margin-top: -12px;
	padding-bottom: 15px;
	border-bottom: 1px solid #eee;
	margin-bottom: 30px;
}
.expiry-notice span {
	font-weight: 600;
}
.expiry-notice.fixed {
	position: fixed;
	top: 0;
	margin-top: 0;
	background: #fff;
}

/* applicant/redeem */
.token-redemption {
	padding: 40px 0 40px;
	border-bottom: 1px solid #eee;
}
.token-redemption-form p {
	margin: 0;
}
.token-redemption-form label {
	font-size: 16px;
	margin: 0 0 20px;
}
.token-redemption-form input {
	font-size: 16.25px;
	height: 32px;
}

.redemption-faqs header h3,
.redemption-chapters header h3 {
	margin: 40px 0 20px;
	font-weight: 300;
}

.redemption-faqs h4,
.redemption-chapters h4 {
	margin: 15px 0 5px;
	font-size: 14px;
	font-weight: 600;
}
.redemption-chapters h4 {
	margin-top: 0;
}

.redemption-chapters .chapter-item {
	margin-bottom: 15px;
}
.redemption-chapters p {
	font-size: 12px;
}

/* applicant/form */
#appform {
	margin-top: -27px;
	background: #f6f6f6;
	border-bottom: 1px solid #ddd;
}
#appform > .alert {
	border-left: none;
	border-right: none;
	border-top: none;
	border-radius: 0;
	margin: 0;
}
.form-page-nav {
	display: none;
}

.form-nav header h1 {
	display: none;
}
.form-nav ol {
	margin-right: -20px;
	padding: 20px 0 0;
	position: relative;
	z-index: 2;
	text-align: right;
}
.form-nav li {
	display: block;
	clear: both;
	margin-left: -20px;
	padding-left: 20px;
	padding-top: 5px;
}
.form-nav li.finalize {
	border-top: 1px solid #eee;
	margin-right: 1px;
	padding-top: 5px;
	margin-top: 5px;
}
.form-nav li a {
	display: block;
	color: #007ac2;
	padding: 5px 20px 10px 0;
	margin-left: -10px;
	text-decoration: none;
}
@media (min-width: 1200px) {
	.form-nav ol {
		margin-right: -30px;
	}
	.form-nav li a {
		padding-right: 30px;
	}
}
.form-nav li a:hover {
	background: #eee;
	text-decoration: none;
}
.form-nav li a.active {
	font-weight: 600;
	color: #fff;
	background: #007ac2;
}

.form-fields {
	margin-left: -2px;
	border-left: 1px solid #ddd;
	padding-left: 20px;
	position: relative;
	z-index: 2;
	background: white;
	min-height: 560px;
}
.form-fields label {
	display: inline;
}
.form-fields label.checkbox {
	display: block;
}
.form-fields label.checkbox input {
	vertical-align: middle;
}
.form-fields fieldset > label.checkbox {
	margin-bottom: 1em;
}
label.required {
	font-weight: 600;
}
label.required:after {
	content: ' *';
	color: #c00;
}
span.required-sample {
	color: #c00;
	font-weight: 600;
}
.form-fields fieldset {
	padding-top: 24px;
	padding-bottom: 30px;
}
.form-fields .pager {
	margin: 0;
	padding-top: 16px;
	padding-right: 30px;
	padding-bottom: 30px;
}
.form-fields .pager.above {
	padding-bottom: 0;
}
.form-fields fieldset legend {
	float: left;
	margin: 0 0 16px;
	font-family: inherit;
	font-weight: 600;
	font-size: 22.75px;
	line-height: 36px;
	border: none;
	letter-spacing: -.03em;
}
.form-fields fieldset > .help-block {
	font-size: 14px;
}

.form-fields input,
.form-fields select,
.form-fields textarea,
.form-fields button {
	margin-bottom: 5px;
}
.form-fields label.inline {
	display: inline-block;
	width: 400px;
	margin-right: 20px;
}
.form-fields h1 {
	margin-top: 30px;
	font-size: 22.75px;
	line-height: 36px;
	font-weight: 300;
}
.form-fields h1 span,
.form-fields h4 span {
	letter-spacing: 0;
	font-weight: normal;
	color: #888;
}
.form-fields h2,
.form-fields h3,
.form-fields h4 {
	margin-top: 30px;
	/*font-weight: 300;*/
	letter-spacing: 0;
}

.subform {
	border-top: 1px solid #eee;
	margin-left: -10px;
}
.form-table td table td,
.subform td {
	padding: 5px 5px 0;
	border-bottom: 1px solid #eee;
}
.form-table td table th,
.subform th {
	text-align: left;
	color: #222;
	font-weight: 600;
	padding: 5px;
	border-bottom: 1px solid #eee;
}
.form-table td table td:first-child,
.subform td:first-child,
.form-table td table th:first-child,
.subform th:first-child {
	padding-left: 10px;
}

.subform input,
.subform select {
    display: block;
    width: 100%;
    min-height: 28px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.subform caption,
.form-table caption {
	padding: 10px;
	text-align: left;
}
.form-table {
	width: 100%;
	border-top: 1px solid #eee;
	margin-left: -10px;
	margin-right: -10px;
}

td.label,
th.label {
	display: table-cell;
	background: none;
	font: inherit;
	color: inherit;
	text-shadow: inherit;
	border-radius: 0;
	white-space: inherit;
}
.form-table td.label {
	width: 30%;
	padding-top: 12px;
	border-bottom: 1px solid #eee;
	padding-left: 10px;
}
.form-table td.field {
	width: 70%;
	padding-top: 7px;
	padding-right: 10px;
	border-bottom: 1px solid #eee;
}
.form-table tr:hover td {
	background: #fcfcfc;
}
.form-table tr.selected td {
	background: #f6f6f6;
}
td.label:empty,
th.label:empty {
	display: table-cell;
}

.form-table td table,
.subform {
	width: 100%;
}
.form-table.siblings td.label {
	width: 30%;
	vertical-align: middle;
}
.form-table.siblings td.field {
	width: 20%;
}
.form-table.siblings td.field.noc {
	border-right: 1px solid #f6f6f6;
}
.form-table.siblings td.label.nth {
	padding-left: 20px;
}
.sibling-name {
	width: 35%;
}
.sibling-job {
	width: 30%;
}
.siblings-table input {
	display: block;
	width: 100%;
	min-height: 28px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.siblings-table .date-d {
	width: 20%;
	display: block;
	float: left;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.siblings-table .date-m {
	width: 49%;
	display: block;
	float: left;
	border-radius: 0;
	border-left: none;
	border-right: none;
}
.siblings-table .date-y {
	width: 30%;
	display: block;
	float: left;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.prototype {
	display: none;
}

label.subpoint {
	display: block;
	display: inline-block;
	width: 100px;
	height: 20px;
	margin-right: -.3em;
}

.programs-table {
	width: 100%;
	margin-top: 20px;
	border-top: 1px solid #eee;
}
.programs-table th {
	text-align: left;
	padding: 10px 0;
	width: 20%;
}
.programs-table th,
.programs-table td {
	border-bottom: 1px solid #eee;
	vertical-align: top;
}
.programs-table ul {
	padding: 0;
}

.country-preference td ol {
	float: left;
	margin-bottom: 5px;
	width: 200px;
}
.country-preference ol {
	padding-left: 2em;
}
.programs-table th {
	width: 13%;
	padding: 10px 0;
}
.programs-table td {
	width: 29%;
	padding: 10px 0;
}
.programs-table .program-name td {
	color: #000;
	font-size: 15px;
}
.programs-table .program-name td input {
	margin-right: 5px;
}
.programs-table .program-name td label {
	font-weight: 600;
}
.programs-table .program-name td.disabled label {
	text-decoration: line-through;
	color: #888;
}
.programs-table .program-length td {
	font-size: 12px;
}
.programs-table .program-length td span {
	display: block;
	color: #000;
	font-size: 13px;
	margin-bottom: -1.1em;
}
.programs-table .program-destination ul {
	padding-left: 0;
	margin: 0;
}
.programs-table .program-destination li {
	list-style: none;
	margin-bottom: 3px;
}
.programs-table .program-destination td.afs {
	padding-right: 10px;
}
.programs-table .program-destination td.afs ul {
	font-size: 12px;
	line-height: 1;
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
}
.programs-table .program-info p {
	margin: 5px 20px 5px 0;
	font-size: 11px;
}

.country-pref-options h4 {
	text-align: center;
}
select.country-pref option {
	font-size: 15px;
	line-height: 20px;
	color: #000;
}
select.country-pref option[disabled] {
	color: #999;
}

.form-tools {
	position: relative;
	height: 49px;
}
.form-tools-container {
	position: absolute;
	top: 0;
	background: white;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
}
.form-tools-container.fixed {
	position: fixed;
	top: 0;
	z-index: 300;
}
.form-tools-container p {
	font-size: 14px;
	line-height: 28px;
	margin: 0;
	padding-left: 10px;
}
.recheck,
.form-nav li a.recheck {
	color: #b94a48;
}
.form-nav li a.recheck.active {
	color: #fff;
	background-color: #b94a48;
}
input.invalid,
textarea.invalid,
select.invalid {
    color: #b94a48;
    border-color: #ee5f5b;
}
input.invalid:focus,
textarea.invalid:focus {
	border-color: #e9322d;
	-webkit-box-shadow: 0 0 6px #f8b9b7;
	-moz-box-shadow: 0 0 6px #f8b9b7;
	box-shadow: 0 0 6px #f8b9b7;
}
#invalid-dob-alert {
	display: none;
	color: #b94a48;
	font-weight: 600;
}

.picture-container {
	padding-bottom: 18px;
	text-align: center;
}

.promotional p, .promotional li {
	line-height: 1.5;
}
.promotional h5 {
	color: #007AC2;
}
.promotional p.checkbox {
	margin: 12px 0 15px;
	padding: 11px 0 9px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.promotional p.checkbox label {
	color: #000;
	font-weight: 600;
}

/* Finalized */
.finalized .what {
	padding-bottom: 20px;
}
.finalized .what > p,
.finalized .how > p {
	line-height: 1.4;
	font-size: 16px;
	color: #007ac2;
	font-weight: 100;
}
dl.files {
	margin-top: 30px;
}
dl.files dt {
	margin-left: 20px;
	counter-increment: f;
	float: left;
	color: #000;
	font-size: 16px;
	font-weight: 600;
}
dl.files dt:before {
	display: block;
	float: left;
	content: counter(f) ". ";
	color: #ccc;
	font-weight: 100;
	margin-left: -20px;
}
dl.files dd.download-link {
	float: right;
}
dl.files dd.details {
	clear: both;
	padding: 0;
	margin: 0 0 30px;
}
dl.files dd.details ul {
	padding: 0 0 0 20px;
	margin: 0;
	list-style: none;
}
dl.files dd.details ul li {
	line-height: 1.4;
	margin-bottom: 5px;
}

section.how {
	width: 460px;
	float: left;
	padding-bottom: 20px;
}
.how p time {
	white-space: nowrap;
	font-weight: 600;
}
.how p {
	margin-bottom: 0;
}

dl.depots {
	margin: 0;
	padding: 0;
}
dl.depots dt {
	clear: both;
	padding-top: 30px;
	margin-bottom: 15px;
	font-size: 15px;
	color: #000;
	font-weight: 600;
}
dl.depots dt.secondary:before {
	color: #005587;
	content: "atau ";
	font-style: italic;
}
dl.depots dd {
	margin: 0;
}
dl.depots dd.map {
	width: 100%;
	margin-bottom: 10px;
}
dl.depots dd.map img,
dl.depots dd.map a {
	display: block;
}
dl.depots dd.address {
	width: 220px;
	float: left;
}
dl.depots dd.address address {
	margin: 0;
	line-height: 1.6;
}
dl.depots dd.schedule {
	width: 220px;
	float: left;
}
dl.depots dd h3 {
	margin: 0 0 5px;
	color: #005587;
}
dl.depots dd.schedule ul {
	padding: 0;
	list-style: none;
	line-height: 1.6;
}

section.then {
	clear: both;
	border-top: 1px solid #eee;
	padding-top: 15px;
}
section.then p {
	text-align: center;
}

/* results page */
.results .applicant-header {
	font-size: 22.75px;
	padding-bottom: 30px;
	margin-bottom: 45px;
	border-bottom: 1px solid #f6f6f6;
	letter-spacing: -.03em;
}
.results .applicant-header p {
	margin: 0;
}
.results .applicant-header .test-id {
	float: right;
	font-weight: 300;
}
.results .applicant-header .name {
	font-weight: 600;
	color: #000;
}

.results .result h1 {
	margin: 45px 0 30px;
}
.results .result p {
	font-size: 16px;
	line-height: 21px;
}

.results .rereg-notice {
	margin-top: 30px;
	padding-top: 30px;
	border-top: 1px solid #f6f6f6;
}