<p>Halo {{name}},</p>

<p>{{pronoun}} menerima surel ini karena {{pronoun}} meminta pergantian password untuk akun {{pronoun}}.</p>

<p>Username {{pronoun}} adalah <strong>{{username}}</strong>.</p>

<p>Untuk mengubah password {{pronoun}}, silakan buka <strong><a href="{{recover_url}}">tautan ini</a></strong>.</p>

<p>Abaikan surel ini jika tidak pernah merasa meminta penggantian password.</p>

<p>Salam,</p>

<p>Bina Antarbudaya</p>