Halo {{name}},

{{pronoun}} menerima surel ini karena {{pronoun}} meminta pergantian password untuk akun {{pronoun}}.

Username {{pronoun}} adalah {{username}}.

Untuk mengubah password {{pronoun}}, silakan buka tautan di bawah ini:
{{recover_url}}

Abaikan surel ini jika tidak pernah merasa meminta penggantian password.

Salam,
Bina Antarbudaya